<ion-grid fixed>
    <ion-row>
        <ion-col *ngFor="let noti of lNotificacion" size="12">
            <ion-row>
                <ion-col size="12">
                    <ion-item class="input-style border-radius" (click)="onClickNotificacion(noti)" detailIcon="chevron-down-outline" lines="none" detail>
                        <ion-avatar [style.background]="!noti.opened? estiloBotones.COLOR_BACKGROUND_B_PIN : estiloBotones.COLOR_BACKGROUND_B_COMPARTIR" slot="start">
                        </ion-avatar>
                        <ion-label [style.color]="estiloGeneral.COLOR_TEXT" slot="start">{{ noti.notificacion }}</ion-label>
                    </ion-item>
                    <app-expandible expandHeight="auto" [expanded]="noti.expanded">
                        <app-expandible-evento [notificacion]="noti" [expanded]="lengthExpanded"></app-expandible-evento>
                    </app-expandible>
                </ion-col>

            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>