.tamano-slide {
    height: 40vw;
    background-size: cover;
    box-shadow: inset 0 0 100px #000000;
    background-position: top;
    background-repeat: space;
    ion-row {
        width: 100%;
        height: 100%;
        align-content: center;
    }
}

.text-slide {
    position: absolute;
    bottom: 2vw;
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 2vw;
    }
}

.image-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.padding-cero {
    padding: 0px;
}

.padding {
    padding-left: 10%;
    padding-right: 10%;
}

.image-info-nosotros {
    height: 200px;
    width: 100%;
}

.videoPlayer {
    width: 80%;
    border-radius: 1em;
}