<ion-grid fixed>
    <ion-row>
        <ion-col size="6">
            <ion-row>
                <ion-col size="12">
                    <ion-item class="item-style background-gris" mode="md" lines="none">
                        <ion-icon class="icon-redondos" name="calendar-outline" color="medium"></ion-icon>
                        <ion-label class="label-descripcion">
                            <p [style.color]="estiloGeneral.COLOR_TEXT" class="priMayuscula" s>
                                {{boleta.eventoFechaInicio | date: 'EEEE,'}}
                            </p>
                            <p [style.color]="estiloGeneral.COLOR_TEXT">
                                {{boleta.eventoFechaInicio | date: 'dd MMMM, yyyy'}}
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item class="item-style background-gris" mode="md" lines="none">
                        <ion-icon class="icon-redondos" name="time-outline" color="medium"></ion-icon>
                        <ion-label class="label-descripcion">
                            <p [style.color]="estiloGeneral.COLOR_TEXT">
                                Inicio del evento:
                            </p>
                            <p [style.color]="estiloGeneral.COLOR_TEXT">
                                {{boleta.eventoFechaInicio | date: 'h:mm a'}}
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="6">
            <ion-row>
                <ion-col size="12">
                    <ion-item class="item-style background-gris" mode="md" lines="none">
                        <ion-icon class="icon-redondos" name="location-outline" color="medium"></ion-icon>
                        <ion-label class="label-descripcion">
                            <p [style.color]="estiloGeneral.COLOR_TEXT" class="priMayuscula">
                                {{boleta.eventoEscenario}},
                            </p>
                            <p [style.color]="estiloGeneral.COLOR_TEXT" class="priMayuscula">
                                {{boleta.eventoDireccion}}
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item class="item-style background-gris" mode="md" lines="none">
                        <ion-icon class="icon-redondos" name="location-outline" color="medium"></ion-icon>
                        <ion-label class="label-descripcion">
                            <p [style.color]="estiloGeneral.COLOR_TEXT">
                                {{boleta.eventoCiudad | titlecase}},
                            </p>
                            <p [style.color]="estiloGeneral.COLOR_TEXT">
                                {{boleta.eventoDepartamento | titlecase}}
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col class="divider" size="12">
            <span class="authentication_divider-text "></span>
        </ion-col>
        <ion-col *ngIf="!notificacion.solicitudTransferir" size="12">
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none">
                        <ion-label [style.color]="estiloGeneral.COLOR_TEXT">Localidad: {{boleta.localidad}}</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6" *ngIf="boleta.silla !== ''">
                    <ion-item lines="none">
                        <ion-label [style.color]="estiloGeneral.COLOR_TEXT">Silla: {{boleta.silla}}</ion-label>
                    </ion-item>
                </ion-col>

            </ion-row>
        </ion-col>

        <ion-col *ngIf="notificacion.solicitudTransferir" size="12">
            <ion-row *ngFor="let boleta of notificacion.boleta">
                <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="6">
                    <ion-item lines="none">
                        <ion-label [style.color]="estiloGeneral.COLOR_TEXT">Localidad: {{boleta.localidad}}</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="6" *ngIf="boleta.silla !== ''">
                    <ion-item lines="none">
                        <ion-label [style.color]="estiloGeneral.COLOR_TEXT">Silla: {{boleta.silla}}</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                    <ion-button class="button-acceso" [style.--background]="estiloBotones.COLOR_BACKGROUND_B_ACCESO" [style.color]="estiloBotones.COLOR_TEXT" (click)="openModalTransferir(boleta)" expand="block" fill="clear">
                        <ion-item class="item-style item-button" lines="none" mode="ios">
                            <ion-label>Transferir</ion-label>
                        </ion-item>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>

        <!--<ion-col *ngIf="notificacion.received" size="12">
            <ion-row>
                <ion-col size-lg="8" size-md="8" size-sm="0" size-xs="0">
                </ion-col>
                <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                    <ion-button class="button-acceso" [style.--background]="estiloBotones.COLOR_BACKGROUND_B_ACCESO" [style.color]="estiloBotones.COLOR_TEXT" (click)="openModalAceptarEntrada()" expand="block" fill="clear">
                        <ion-item class="item-style item-button" lines="none" mode="ios">
                            <ion-label>Aceptar entrada</ion-label>
                        </ion-item>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>-->
    </ion-row>
</ion-grid>