.select {
    font-size: inherit;
    padding: inherit;
    padding-right: 10px;
    --placeholder-opacity: 0.5;
}

.col-button-acceso {
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}