<ion-card class="border-radius" [style.background-color]="estiloEvento.COLOR_BACKGROUND">

    <div class="image-evento" [style.background-image]="evento.eventoImagenes[0].url | domSanitizer" ion-button (click)="verEvento()">
        <div *ngIf="evento.eventoEstado === 'AGOTADO'" class="center-label-image">
            <ion-label>
                <h2><strong>AGOTADO</strong></h2>
            </ion-label>
        </div>
    </div>

    <ion-item *ngIf="evento.eventoTipoEvento === 'Virtual'" [style.--background]="estiloBotones.COLOR_BACKGROUND_B_PIN" class="virtual" lines="none">
        <ion-label>Virtual</ion-label>
    </ion-item>
    <ion-card-content>
        <ion-card-subtitle [style.color]="estiloEvento.COLOR_TEXT_TITULO" class="priMayuscula"><strong>{{evento.eventoNombre}}</strong></ion-card-subtitle>

        <hr [style.background]="estiloBotones.COLOR_BACKGROUND_B_ACCESO" class="divider-event">

        <!--{{evento.description}}-->
        <ion-label>
            <p [style.color]="estiloEvento.COLOR_TEXT_DESCRIPCION">Fecha: {{evento.eventoFechaInicio | date: 'dd MMMM, yyyy'}}</p>
        </ion-label>
        <ion-label>
            <p [style.color]="estiloEvento.COLOR_TEXT_DESCRIPCION">Hora: {{evento.eventoFechaInicio | date: 'h:mm a'}}</p>
        </ion-label>
        <ion-label>
            <p [style.color]="estiloEvento.COLOR_TEXT_DESCRIPCION">Ciudad: {{evento.eventoCiudad}}</p>
        </ion-label>
        <ion-label>
            <p [style.color]="estiloEvento.COLOR_TEXT_DESCRIPCION">Lugar: {{evento.eventoEscenario}}</p>
        </ion-label>
    </ion-card-content>

    <ion-row>
        <ion-col class="col-button-acceso padding-button" size="12">
            <ion-button class="button-acceso" [style.--background]="estiloBotones.COLOR_BACKGROUND_B_ACCESO" [style.color]="estiloBotones.COLOR_TEXT" expand="block" (click)="comprarAcceso()" fill="clear" mode="ios">
                <ion-text>
                    <h3>Comprar entrada</h3>
                </ion-text>
            </ion-button>
        </ion-col>

    </ion-row>
    <br><br>
</ion-card>