<app-toolbar-modal></app-toolbar-modal>

<ion-content class="centrado no-scroll ion-padding">
    <form [formGroup]="cambiarForm" (ngSubmit)="onClickCambiarContrasena()">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <ion-label [style.color]="estiloGeneral.COLOR_TEXT">
                        <h1><strong>Cambiar contraseña</strong></h1>
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <br>
                </ion-col>
                <ion-col size="12" class="ion-text-left">
                    <ion-item class="input-style" lines="none" mode="ios">
                        <ion-input type="password" formControlName="contrasenaActual" (ionChange)="validarCampoChange('contrasenaActual')" (ionBlur)="validarCampo('contrasenaActual')" placeholder="Contraseña actual"></ion-input>
                    </ion-item>
                    <span *ngIf="isPasswordValido" class="requerido">El campo debe contener entre 5 a 10 caracteres</span>
                </ion-col>
                <ion-col size="12" class="ion-text-left">
                    <ion-item class="input-style" lines="none" mode="ios">
                        <ion-input type="password" formControlName="contrasenaNueva" (ionChange)="validarCampoChange('contrasenaNueva')" (ionBlur)="validarCampo('contrasenaNueva')" placeholder="Nueva contraseña"></ion-input>
                    </ion-item>
                    <span *ngIf="isPasswordValidoNuevo" class="requerido">El campo  debe contener entre 5 a 10 caracteres</span>
                </ion-col>
                <ion-col size="12" class="ion-text-left">
                    <ion-item class="input-style" lines="none" mode="ios">
                        <ion-input type="password" formControlName="contrasenaConfirmar" (ionChange)="validarCampoChange('contrasenaConfirmar')" (ionBlur)="validarCampo('contrasenaConfirmar')" placeholder="Confirmar nueva contraseña"></ion-input>
                    </ion-item>
                    <span *ngIf="isPasswordValidoConfirmar" class="requerido">El campo no coincide con el anterior</span>
                </ion-col>

                <ion-col size="12">
                    <ion-button class="button-acceso" [style.--background]="estiloBotones.COLOR_BACKGROUND_B_ACCESO" [style.color]="estiloBotones.COLOR_TEXT" [disabled]="cambiarForm.invalid" type="submit" expand="block" fill="clear">
                        <ion-item class="item-style item-button" lines="none" mode="ios">
                            <ion-label>Cambiar</ion-label>
                        </ion-item>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>