<app-toolbar-modal [isPopOver]="true"></app-toolbar-modal>
<ion-content>

    <ion-grid>
        <ion-row class="ion-padding scroll">
            <ion-col class="ion-text-center" size="12">
                <ion-row class="contenedor-silla">
                    <div *ngFor="let a of fila" class="div-silla">
                        <div *ngFor="let b of columna">
                            <ion-item class="item-silla item-style" lines="none" disabled="{{sillaHabilitar(a, b)}}" (click)="onClickSilla(a, b)" [style.visibility]="sillaEstado(a, b) ? 'inherit' : 'hidden'" [style.--background]="sillaIsSelected(a, b)? estiloBotones.COLOR_BACKGROUND_B_ACCESO : ''"
                                [style.color]="sillaIsSelected(a, b)? estiloBotones.COLOR_TEXT : ''">
                                <ion-label>{{b + '-' + a}}</ion-label>
                            </ion-item>
                        </div>
                    </div>
                </ion-row>

            </ion-col>

            <ion-col class="margin-auto" size="6">
                <ion-button class="button-acceso" [style.--background]="estiloBotones.COLOR_BACKGROUND_B_ACCESO" [style.color]="estiloBotones.COLOR_TEXT" (click)="seleccionaSilla()" expand="block" fill="clear">
                    <ion-item class="item-style item-button" lines="none" mode="ios">
                        <ion-label>Agregar</ion-label>
                    </ion-item>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>