#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.slide-component {
    width: 100%;
}

.grid-buscar {
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    width: 100%;
}

.sin-padding {
    padding-top: 0%;
    padding-bottom: 0%;
}

.margin-eventos {
    margin-top: 60px;
}

.item-select {
    padding-top: 5px;
    // padding-bottom: 12px;
    // padding-right: 10px;
    --border-radius: 10px;
}

.toolbar-buscar {
    --background: #ffffff;
    --placeholder-opacity: 1;
    // padding-top: 12px;
    // padding-bottom: 12px;
    // height: 100%;
    .searchbar-input-container {
        height: 100% !important;
    }
}

.select {
    border-radius: 0.5em;
    --border-radius: 0.5em;
    --placeholder-opacity: 1;
    .select-icon {
        width: 0px !important;
    }
}

.fecha {
    padding-bottom: 8px;
    font-size: 13.8px;
}

.icon-fecha {
    width: 13px;
    opacity: 0.4;
}

.centrar-icono {
    ion-icon {
        margin-top: 15px;
        cursor: pointer;
    }
}