.grid-buscar {
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    width: 100%;
}

.toolbar-buscar {
    --background: #e1e1e1;
    --placeholder-opacity: 1;
    // padding-top: 12px;
    // padding-bottom: 12px;
    // height: 100%;
    .searchbar-input-container {
        height: 100% !important;
    }
}

.select {
    border-radius: 0.5em;
    --placeholder-opacity: 1;
    background: #e1e1e1;
    .select-icon {
        width: 0px !important;
    }
}

.item-select {
    padding-top: 5px;
    // padding-bottom: 12px;
    --border-radius: 10px;
}

.sin-padding {
    padding-top: 0%;
    padding-bottom: 0%;
}